:root {
  --brand-primary: #1e042f;
  --brand-gradient: linear-gradient(
    20deg,
    #fdbf2b,
    #ff8c00,
    #ff3c3c,
    #c800b2,
    #6a1b9a
  );

  --font-family: 'Poppins', sans-serif;
  --text-color: #fff;
}
